.navbar {
  color: $clr-light-alt;
  max-height: 8rem;
  overflow: hidden;
  padding-block: 2rem;
  transition: all 0.25s ease-in-out;

  &__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__logo {
    width: 16rem;
  }

  &__toggle-btn {
    align-items: center;
    background-color: transparent;
    border-radius: $border-radius;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    display: flex;
    font-size: 2.6rem;
    justify-content: center;
    padding-inline: 1rem;
    position: relative;

    & > .navbar__toggle-close {
      display: none;
    }
  }

  &__menu {
    min-width: 100%;
    opacity: 0;
    transition: all 0.25s ease;
  }

  &__list {
    font-size: 1.6rem;
    font-weight: 500;
    list-style: none;
    margin-block: 1.4rem;
    text-align: center;

    &-item {
      margin-block: 2.2rem;
    }

    &-link {
      transition: color 0.25s ease;
      &:hover,
      &:focus {
        color: $clr-accent;
        outline: none;
      }
    }

    & .active {
      color: $clr-accent;
    }
  }

  &__form {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: space-evenly;
    margin-inline: auto;
    padding: 1rem;
    width: 90%;

    @include for-desktop {
      margin-right: 1rem;
      width: 50%;
    }

    & > i {
      font-size: 2rem;
      font-weight: 700;
      padding-inline: 0.6rem;
    }

    &-cart {
      position: relative;

      &::after {
        align-items: center;
        aspect-ratio: 1;
        background-color: $clr-accent;
        border-radius: 50%;
        box-shadow: rgba(245, 86, 86, 0.5) 0px 3px 8px;
        color: $clr-light;
        content: '2';
        display: flex;
        font-family: $ff-sans;
        font-size: 1.4rem;
        height: 3rem;
        justify-content: center;
        position: absolute;
        right: -18px;
        top: -18px;
      }
    }

    &-input {
      border: none;
      padding-inline: 0.5rem;
      width: 100%;

      &:focus,
      &:focus::placeholder {
        opacity: 0;
        outline: none;
        transition: opacity 0.25s ease;
      }
    }
  }
}

.menu-visible {
  .navbar__menu {
    opacity: 1;
  }

  .navbar__toggle-open {
    display: none;
  }

  .navbar__toggle-close {
    display: block;
  }
}

@include for-desktop {
  .navbar {
    max-height: 100%;
    position: relative;

    &__container {
      align-items: center;
      flex-wrap: initial;
    }

    &__menu {
      align-items: center;
      display: flex;
      justify-content: space-between;
      min-width: auto;
      opacity: 1;
    }

    &__list {
      align-items: center;
      display: flex;
      gap: 3rem;
      justify-content: center;
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }

    &__toggle-btn {
      display: none;
    }
  }
}
