.about {
  padding-block: 5rem;

  &__title {
    padding-bottom: 1.6rem;
  }

  &__text > p {
    padding-bottom: 1.4rem;
  }

  &__btn {
    background-color: $clr-light;
    font-size: 2rem;
    padding: .8rem 2.4rem;
    margin-bottom: 3.6rem;
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr) ;

    .about__img-top {
      grid-template-columns: 2/5;
      display: none;
        
    }
  }


}