.about {
  padding-block: 5rem;
  display: flex;
  flex-direction: column-reverse;

  &__title {
    padding-bottom: 1.6rem;
  }

  &__text > p {
    padding-bottom: 1.4rem;
  }

  &__btn {
    background-color: $clr-light;
    font-size: 2rem;
    padding: .8rem 2.4rem;
    margin-bottom: 3.6rem;
  }

  &__images {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr) ;

    & > .about__img-top {
      grid-column: 3/7;
      grid-row: 1/6;
    }

    & > .about__img-bottom {
      grid-column: 1/4;
      grid-row: 3/7;
    }
  }
}