// VARIABLES
$ff-sans: 'Poppins', sans-serif;

// COLORS
$clr-light: hsl(0, 82%, 98%);
$clr-light-alt: hsl(0, 0%, 40%);
$clr-dark: hsl(0, 0%, 18%);
$clr-dark-alt: hsl(0, 0%, 30%);
$clr-accent: hsl(360, 89%, 65%);
$clr-white: hsl(0, 0%, 100%);

// SPACINGS
$flow: 1rem