:root {
	--clr-bg: #44475a;
	--clr-fg: #f8f8f2;
	--clr-comment: #282a36;
	--clr-blue: #8be9fd;
	--clr-pink: #ff79c6;
}

*,*::before,*::after {
	box-sizing: border-box;
}

* {
 padding: 0;
 margin: 0;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

body {
	font-family: monospace;
	min-height: 100vh;
	background-color: var(--clr-bg);
	color: var(--clr-fg);
	display: grid;
	place-content: center;
	overflow: hidden;
	line-height: 1.6;
}

.container {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
	background-color: var(--clr-comment);
	max-width: 50vw;
	display: flex;
	border-radius: 8px;
}

.main {
	display: flex;
	flex-direction: column;
	place-content: center;
	padding: 2rem 1.675rem;
}

.shortcuts {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 1rem;
}

.title {
	font-size: 2.35rem;
	padding: .375rem 0;
}

.title > span {
	color: var(--clr-pink);
}

.quote {
	font-size: .85rem;
	color: #bd93f9;
	padding-bottom: 1.25rem;
}

.shortcut__title {
	color: var(--clr-blue);
	font-size: 1.375rem;
	padding-bottom: .35rem;
}

.shortcuts a {
	font-size: 1rem;
	transition: all 300ms ease-in-out;
}

.shortcuts a:hover {
	color: var(--clr-blue);
	text-decoration: underline;
}

.shortcuts li {
	padding-bottom: .125rem;
}

.side-img {
	width: 80%;
	background-image: url('./side-img.png');
	background-size: cover;
	background-position: center;
	border-radius: 8px;
}