/*---------- MAIN ----------*/
.main {
  padding-top: 15rem;
  display: grid;
  place-items: center;
  text-align: center;

  &__title {
    font-size: clamp(2rem, 12vw + 1rem, 8rem);
    line-height: 1.3;
    letter-spacing: 1px;
    background: url("../images/showcase_image_lg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 40%;
    background-clip: text;
    color: transparent;
    z-index: 10;

    @include for-tablet {
      background-position: center 60%;
    }
  }

  &__img {
    transform: translateY(-5rem);

    @include for-tablet {
      transform: translateY(-7rem);
    }
  }
}
