/*---------- SERVICES ----------*/
.services {
  padding-block: 5rem;

   &__text {
    padding-block: 1.8rem;
   }

   &__img {
    padding-block: 1.4rem;
   }

   &__container-bottom {
    display: flex;
    flex-direction: column;
    place-content: center;

    @include for-tablet {
      flex-direction: row;
    }
   }

   &__cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  
  &__card > * {
    padding-bottom: 1rem;
  }
   
}