body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
body::-webkit-scrollbar-track {
  background: $clr-dark-alt;        /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: $clr-light;    /* color of the scroll thumb */
}