@import './variables';
@import './mixins';
@import './resets';
@import './utils';
@import './navbar';
@import './main';


/*---------- WORKS ----------*/
.works {
  padding-block: 5rem;

  &__title {
    padding-bottom: 6rem;
  }

  .swiper {
    &-slide {
      display: grid;
      place-items: center;
      background-size: cover;
      background-position: center;
      height: auto;
      width: auto;
    }
  }
}

/*---------- SERVICES ----------*/
.services {
  &__container {
    padding-block: 5rem;
    display: grid;
    grid-template-columns: 1fr;

    @include for-tablet {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__text {
    padding-block: 1.75rem;
  }

  &__img {
    padding-block: 3rem;
  }

  &__cards-container {
    display: flex;
    flex-direction: column;
    gap: 2.65rem;
  }

  &__card > * {
    padding-bottom: 1.65rem;
  }
}

/*---------- EOF ----------*/
/*---------- EOF ----------*/
/*---------- EOF ----------*/

