* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #282828;
  color: #ffffff;
  font-family: sans-serif;
  padding: 3rem;
  overflow: hidden;
}

.flex > div {
  padding: 2rem;
  background-color: lightblue;
  font-size: 3rem;
}