.footer {
  padding-block: 3rem;
  font-size: 1.5rem;

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5rem;
    text-align: center;

    @include for-desktop {
      grid-template-columns: repeat(4, 1fr);
      text-align: left;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include for-desktop {
      align-items: flex-start;
    }
  }

  &__text {
    color: $clr-dark-alt;
    margin-block: 2rem;
  }

  &__list {
    list-style: none;
    & > * {
      margin-top: 1rem;
    }

    &-link {
      color: $clr-dark-alt;
      transition: color 0.25s ease-in-out;

      &:hover,
      &:focus {
        color: $clr-dark;
      }
    }
  }
}
