.contact {
  padding-block: 4rem;
  text-align: center;

  &__title {
    font-size: clamp(2rem, 12vw + 1rem, 8rem);
    line-height: 1.3;
    background: url("../images/showcase_image_lg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 50%;
    background-clip: text;
    color: transparent;
    padding-bottom: 2rem;
    z-index: 10;

    @include for-tablet {
      background-position: center 60%;
    }
  }

  & > .underline::after {
    width: 70%;
    left: 50%;
    right: 50%;
  }
}
