// UTILITY CLASSES
.container {
  margin-inline: auto;
  max-width: 90%;
  padding: 1rem;

  @include for-tablet {
    max-width: 85%;
  }

  @include for-desktop {
    max-width: 80%;
  }
}

.flow-1 > *:where(:not(:first-child)) {
  margin-top: 1rem;
}

.flow-2 > *:where(:not(:first-child)) {
  margin-top: 2rem;
}

.flow-3 > *:where(:not(:first-child)) {
  margin-top: 3.2rem;
}

.title {
  font-size: $fs-8;
  font-weight: 600;
}

.text {
  color: $clr-light-alt;
}

.text-accent {
  color: $clr-accent;
}

.btn {
  background-color: $clr-accent;
  border-radius: 1.4rem;
  border: 1px solid transparent;
  color: $clr-white;  
  font-size: clamp(1.2rem, 4vw - .5rem, 1.6rem);
  font-weight: 500;
  padding: 1.2em 2em;
  transition: all .25s ease;

  &:hover,
  &:focus {
    background-color: transparent;
    border-color: $clr-accent;
    color: $clr-accent;
  }
}
