/*---------- VARIABLES ----------*/
// Fonts
$ff-text: "Poppins", sans-serif;
$ff-title: "Bebas Neue", cursive;

$fs-2: 2rem;
$fs-3: 3rem;
$fs-4: 3.8rem;
$fs-5: 4.25rem;

// Colors
$clr-light: hsl(153, 18%, 78%);
$clr-light-alt: hsl(96, 17%, 89%);
$clr-dark: hsl(0, 0%, 18%);
$clr-dark-alt: hsl(0, 0%, 13%);
$clr-secondary: hsl(0, 0%, 74%);
$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);
