.footer {
  padding-block: 4rem;
  text-align: center;

  &__logo {
    margin-inline: auto;
    padding-bottom: 2rem;
  }

  &__text {
    padding-bottom: 2rem;
  }

  &__list {
    display: flex;
    place-content: center;
    gap: 1rem;
  }

  &__link {
    background-color: red;
    height: 6rem;
    aspect-ratio: 1;
  }
}