.app {
  background-color: $clr-light;
  padding-block: 4rem;

  &__container {
    display: grid;
    grid-template-columns: 1fr;

    @include for-desktop {
      grid-template-columns: 1fr 1fr;
      place-items: center;
    }
  }
}
