.app {
  background-color: $clr-light;
  padding-block: 6rem;

  &__container {
    align-items: center;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;

    @include for-desktop {
      grid-template-columns: 1fr 1fr;
      text-align: left;
    }
  }

  &__title {
    color: $clr-accent;
  }

  &__text {
    color: $clr-dark-alt;
  }

  @include for-desktop {
    .app__body {
      width: 90%;
    }
  }

  &__btn-group {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 5rem;

    @include for-desktop {
      justify-content: flex-start;
    }
  }

  &__btn {
    align-items: center;
    border-radius: 1rem;
    border: 1px solid $clr-dark;
    box-shadow: $box-shadow;
    display: flex;
    font-weight: 600;
    gap: 1rem;
    padding: 1rem 1.6rem;
  }
}
