body {
  font-family: 'Roboto', sans-serif;
}

.text-accent {
  color: blue;
}

.top__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
}

.top__title {
  font-size: 3.25rem;
  color: rgba(0, 0, 0, 0.808);
}